img {
	width: 100%;
}

.category-tile {
	height: 250px;
	background-size: cover;
	background-position: center;
	padding-left: 20px !important;
	padding-right: 20px !important;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 30px;
	cursor: pointer;
	transition: all 0.3s;
	margin-top: 30px;

	&:hover {
		transform: scale(1.05);
	}
}

.ale__banner--container {
	min-width: 1200px;
	display: block;
	margin: 0 auto;
}

.last-product-link-container {
	cursor: pointer !important;
	width: 13rem;
	margin: 10px;
	overflow: hidden;
}
